body,html {
	margin:0;
	padding:0;
}

/*=============Background===================*/


body {
	background-image: url("Images/NewYork.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#layer {
	background-color: rgba(255, 255, 255, 0.9);
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height:100%;
}

/*==============header==================*/

header {
	width: 100%;
	height: 71px;
	top:0;	
	position: fixed;
	background-color: rgba(255, 255, 255, 0.9);
	border-bottom: 1px solid black;	
}

header img {
	width: 70px;
	margin-top: 37px;
	margin-bottom: 10px;
	margin-left: 3px;
	float: left;
	position: fixed;
}

/*=============heder(social media)===========*/
#social_media {
	background: solid 1px black;
}


#social_media img {
	width: 20px;
	padding: 0;
	margin: 0;
}

#social_media ul {
	list-style: none;
	margin-left: 30px
}

#social_media li {
	float: left;
	margin: 63px 5px 0px 3px;
	padding: 0 10px 0 10px;

}

/*==============header(navi)==================*/

nav ul {
	list-style: none;
	/*position: fixed;*/
	margin-right: 30px
}

nav li {
	width: 110px;
	float:right;
	padding: 0px 10px;
}

nav a {
	font-family: "Impact";
	font-size: 40px;
	color: rgba(0,0,0,0.1);
	
}

nav a:hover {
	color: rgba(230, 113, 0,0.9)
}

/*====================form=========================*/

#form {
	width: 400px;
	margin-top: 300px;
}

form {
	margin: 0 auto;
}